backports.tempfile==1.0
Flask==1.0.3
gevent==1.4.0
gunicorn==19.9.0
futures
fuzzywuzzy==0.17.0
lxml==4.4.0
matplotlib==2.2.4
numpy==1.16.4
nltk==3.4.3
Pillow>=3.4.1
python-crfsuite==0.9.6
Pyqtree==1.0.0
requests==2.22.0
sciencebeam-alignment==0.0.2
sciencebeam-utils==0.0.5
sklearn-crfsuite==0.3.6
six==1.12.0
tensorflow-transform==0.13.0
tqdm==4.32.1
