backports.tempfile==1.0
futures==3.2.0
fuzzywuzzy==0.16.0
lxml==4.3.0
matplotlib==2.2.2
numpy==1.14.2
Pillow>=3.4.1
python-crfsuite==0.9.6
Pyqtree==1.0.0
requests==2.21.0
sciencebeam-alignment==0.0.2
sciencebeam-utils==0.0.1
sklearn-crfsuite==0.3.6
six==1.11.0
tensorflow-transform==0.6.0
tqdm==4.30.0
