backports.tempfile==1.0
Flask==1.1.2
gevent==20.12.0
gunicorn==20.0.4
futures
fuzzywuzzy==0.18.0
lxml==4.6.2
matplotlib==2.2.5
numpy==1.19.4
nltk==3.5
Pillow>=3.4.1
python-crfsuite==0.9.7
Pyqtree==1.0.0
requests==2.25.1
sciencebeam-alignment==0.0.5
sciencebeam-utils==0.1.1
sklearn-crfsuite==0.3.6
six==1.15.0
tensorflow-transform==0.25.0
tqdm==4.54.1
